:host {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 600px;
}

button + button {
  margin-left: 5px;
}

.format-box.disabled button {
  opacity: 0.4;
  pointer-events: none;
}

.synonyms-box {
  padding: 5px 0;
}

.text-grey {
  color: silver;
}
